
* {
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Fredoka' , system-ui, Arial ,sans-serif;
    color: #222;
    background: #fff;
    line-height: 1.6;
}
